<nav>
  <div class="site-title">
    <a href="/"><h2>Haris Becirovic</h2></a>
    <p>Scio me nihil scire</p>
  </div>
  <ul>
    <li><a href="/">Moje objave</a></li>
    <li><a href="/about">O meni</a></li>
    <li><a href="/blogs/create">Nova objava</a></li>
  </ul>
</nav>
